# kubectl apply -f k8s.deployment.yaml
# kubectl get services
# kubectl delete deployment/demo-deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deployment
  labels:
    app: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: nginx
        image: noomcomputer/demo:1.0.1
        ports:
        - containerPort: 8083
      #imagePullSecrets: 
      #- name: remote-gitlab-secret